/*COLOR PALETTE:
#Ac3b61
#123C69
#FFEEEE
#BAB2B5
#edc7b7
*/
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*THE NEW CSS CODE FOR FOOTER BELOW*/
footer{
  position: fixed;
  font-size: small;
  bottom: 0px;
}
.ftfix{
  border-bottom: 0px;
  border-top: 0px;
  margin-top: 0px;
  margin-bottom:0px;
  font-size: small;
}
.img1{
  width: 440px;
  height: 500px;
}
h1{
  color:#123C69;
  font-size: 55px;
  text-align: center;
}
h2{
  font-size: 45px;
  color: #Ac3b61;

}
a {
  color:#123C69
}
body{
  background-color: #ffdcdc;
}
#bodythingy{
  background-color: #BAB2B5;
  width: fit-content;
}
#alexisbodythingy{
  background-color: #BAB2B5;
  width:fit-content;
  width:65%;
}
p, li{
  color: #Ac3b61;
  font-size: large;
}
.divbg{
  background-color: #edc7b7;
  border: 5px dashed #FFEEEE;
  border-radius: 10px;
  margin-bottom:5px;
  margin-left: auto;
  margin-right: auto;
}
summary h2{
  color: #Ac3b61;
}
.fp {
  color: black;
}
.himg{
  margin-left: auto;
  margin-right: auto;
}
.adivsp{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  width: 55vh;
}
.adivsp1{
  margin-right:0px;
}
.adivsp2{
  width: 70dvh;
  margin-right:auto;
  margin-left: auto;
  margin-top: 4.5dvi;
}
h3{
  font-size: 30px;
  color: #Ac3b61;
}
.ali{
  font-size: 20px;
}
.card1{
  background-color: transparent;
  border: transparent;
}
.list-group-item{
  background-color: #BAB2B5;
  border: black;
  font-size: 40px;
}
.ah{
  color:#123C69;
}
.adivsp3{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}
.tda{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
td{
  color:#Ac3b61;
}
.form1{
font-size: 30px;
}
.form2{
font-size: 30px;
color:#123C69
}
.form3{
font-size:25px;
color:#Ac3b61; 
}
.form4{
font-size:50px;
color:#Ac3b61; 
}