/*COLOR PALETTE:
#Ac3b61
#123C69
#EEE2DC
#BAB2B5
#edc7b7
*/
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /*THE NEW CSS CODE FOR FOOTER BELOW*/
  footer{
    position: fixed;
    font-size: small;
    bottom: 0px;
  }
  .ftfix{
    border-bottom: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom:5px;
    
  }
  .img1{
    width: 440px;
    height: 500px;
    margin-top: 10px;
    margin-right: 10px;
  }
  h1{
    color:#123C69;
    font-size: 50px;
  }
  h2{
    color:#Ac3b61;
    font-size: 25px;
  }
  a {
    color:#123C69
  }
  body{
    background-color: #EEE2DC;
  }
  #bodythingy{
    background-color: #BAB2B5;
  }
  p{
    color: #Ac3b61;
  }
  .divbg{
    background-color: #edc7b7;
    border: 10px dashed #D4BDB6;
  }
  summary h2{
    color: #Ac3b61;
  }
  .fp {
    color: black;
  }