
.tba{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
table, th, td {
  border: 1px solid;
}
.bowl{
  height: 950px;
  width: 500px;
  padding-left: -20px;
  position: relative;
  left: -120px;
}
.may{
  position: absolute;
  top:1160px;
  left: 100px;
  font-size: 15px
}
.chabutton{
  position: absolute;
  top:1295px;
  left: 100px;
}
.onebtn{
  position: absolute;

}
.onebtnimg{
  width:200px;
}
.onebtnbac{
  background: transparent;
  border:transparent;
}
.posfix{
  position: absolute;
  top: 600px;
  right: 200px
}
.beltfix{
  width: 500px;
  position: relative;
  right: 200px;
  bottom: -100px;
}
.beltfix1{
  position: relative;
  right: 290px;
}
.posfix1{
  position: relative;
  right:-50px;
}